.navbar-nav{

    font-size: 1.1em;
    font-weight: 600;
    font-family: Arial,sans-serif;


      }
     .display-4{
      font-weight: 500;
      font-family: Arial,sans-serif;
      color: white;
      padding: 220px 0 0 0;
     }
     .lead{
      font-weight: 400;
      font-family: Arial,sans-serif;
      color: white;
      
      
     }
    .btn{
      font-size: 18px;
      
     }
    .card{
      border: 2px solid rgb(228, 228, 228);
       box-shadow: 0 0 5px 5px rgb(211, 210, 210);
    }
    .btn-two{
      
      width: 150px;
      font-size: 1.1em;
      
      outline: none;
      border: none;
      border-radius: 5px;
      background-color: #188131;
      padding: 10px 0 10px 0;
      margin: 50px 0 0 100px;
     
    }
    .btn-two a{
      color: white;
      text-decoration: none;
      font-weight: 600;
      font-family: Arial,sans-serif;
    }
    .btn-two:hover{
      background-color: #ffffff;
      transition: 0.3s;
      border: 2px solid #0ace38;
      
    }
    .btn-two:hover a{
      color: #0ace38;
      transition: 0.3s;
    }